.total {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50px;
    background-color: #333431;
    color: #c7c1c3;
    font-size: 1.5em;
    margin-right: 15em;
    margin-left: 15em;
}